.search-btn {
    height: 42px;
    width: 100px;
    border-radius: 42px;
    border: 2px solid #324b4e;
    background: #fff;
    outline: none;
    cursor: pointer;
  
    margin-left: 20px;
  
    &:hover,
    &:focus {
      background-color: rgb(219, 219, 219);
    }
  }